*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: "Helvetica neue" Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --gridSizeRow: 0;
    --gridSizeColumn: 0;
}

#instruction {
    font-family: cursive;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 20px 0;
}

.user-interact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-input {
    width: 15rem;
    padding: 10px 16px;
    color: gray;
    border-radius: 6px;
    outline: none;
    display: block;
    font-size: 18px;
}

button {
    width: 80px;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

.grid-squares {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(var(--gridSizeColumn), 10rem);
    margin: 20px auto;
    justify-content: center;
    grid-gap: 10px;
}

.grid-square {
    background-color: brown;
    width: 10rem;
    height: 10rem;
    transition: all 1s ease-in-out;
}

.grid-square:hover {
    background-color: mistyrose;
}