*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #333;
    font-family: "Helvetica neue" Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --gridSizeRow: 1;
    --gridSizeColumn: 1;
}

.grid-squares {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(var(--gridSizeColumn), 10rem);
    grid-template-rows: repeat(var(--gridSizeRow), 10rem);
    margin: 20px auto;
    justify-content: center;
    grid-gap: 10px;
}

.grid-square {
    background-color: brown;
    width: 10rem;
    height: 10rem;
    transition: all 1s ease-in-out;
}

.grid-square:hover {
    background-color: mistyrose;
}